@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: beige;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-family: 'Palette Mosaic', cursive;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms ease-in-out;
    margin: 1.5rem;
}

.intruction-container {
    transition: 500ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75%;
    max-width: 100%;
    gap: 5rem;
    margin: 1.5rem;
    flex-wrap: wrap;
    transition: 500ms ease-in-out;
}

.player p {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 700;
}

.computer p {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 700;
}

.player-board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
}

.player-grid {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
}

.computer-board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
}

.computer-grid {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
}

.button-container {
    margin: 2rem;
}

.reset-btn {
    height: 2rem;
    width: 6rem;
    font-size: 1.2rem;
    font-weight: 1000;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
    transition: 250ms ease-in-out;
}

.reset-btn:hover {
    transform: scale(1.1);
    transform: translateY(-3px);
}

.start-btn {
    height: 2rem;
    width: 6rem;
    font-size: 1.2rem;
    font-weight: 1000;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
    transition: 250ms ease-in-out;
}

.start-btn:hover {
    transform: scale(1.1);
    transform: translateY(-3px);
}

.random-btn {
    height: 2rem;
    width: 6rem;
    font-size: 1.2rem;
    font-weight: 1000;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
    transition: 250ms ease-in-out;
}

.random-btn:hover {
    transform: scale(1.1);
    transform: translateY(-3px);
}

.game-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}
.game-status{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.instruction-container{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.instruction {
    margin: 5rem;
}

.game-started {
    color: green;
}

.press-start {
    color: blue;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
}